<p id="notice"><%= notice %></p>


<div class="chart-container" style="position: relative; height:40%; width:95%">
    <canvas id="consumeChart"></canvas>
</div>

<div class="chart-container" style="position: relative; height:40%; width:95%">
    <canvas id="demandChart"></canvas>
</div>
<script>
var data = <%= raw @data.to_json %>
var demandData = <%= raw @demand.to_json %>
var dataPoints = data.map(dt => dt.consumption);
var xAxis = data.map(dt => dt.time);
var demandXAxis = demandData.map(dt => dt.datetime);
var demandDataPoints = demandData.map(dt => Number(dt.value));

createLineChart('demandChart', demandXAxis, demandDataPoints);
createLineChart('consumeChart', xAxis, dataPoints);

</script>

<br>
